<div class="row mt-4 py-4">
    <div class="col-md-12 mt-5">
        <h1 class="text-center py-4">Welcome {{ user.fullname }}, Estado: '{{user.status}}' <hr></h1>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <h5 class="d-flex justify-content-center align-items-center">
            Your post | <a href="/post-create" class="nav-link"><i class="fas fa-plus-circle"></i> Add</a>
        </h5>
    {{#each data}}
        <div class="card p-4 w-100 shadow">
            <h4 class="d-flex justify-content-between align-items-center">
                {{ title }} <a href="/post-update/{{_id}}"><i class="fas fa-edit"></i></a>
            </h4>
            <img src="{{ url }}" alt="nombre-de-imagen" class="m-2">
            <p class="content-justify">{{ descp }}</p>
            <a onclick="remove('{{_id}}')" class="btn btn-danger btn-block"><i class="fas fa-trash"></i> Remove</a>
        </div>
    {{else}}
        <h4 class="text-center py-2"><hr> Ups, aun no tienes post <hr></h4>
    {{/each}}
    </div>

    <div class="col-md-6">
        <h2>Post general</h2><hr>
        {{#each datos}}
        <div class="m-2 card p-4 animated fadeInDown">
            <h5>By: {{user.username}} | {{ date }}</h5>
            <img src="{{ url }}" alt="nombre-de-imagen" class="m-2">
            <h6>{{ title }} | {{ descp }}</h6>
        </div>
        {{else}}
            <h4 class="text-center py-2"><hr> Ups, aun no existen posts general <hr></h4>
        {{/each}}
    </div>

    <div class="col-md-3">
        <h4 class="text-center">Setting</h4><hr>
        <a onclick="removeAccount('{{user._id}}')" class="btn btn-danger btn-block"><i class="fas fa-trash"></i> Delete Account</a><br>
        <a onclick="changeStatus('{{user._id}}')" class="btn btn-info btn-block"><i class="far fa-eye"></i> Status</a>
        </div>
    </div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script type="text/javascript">
    function remove(id){
        Swal.fire({
        text: '¿DELETE POST?',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes!'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location = '/post-delete/'+id 
        }
        })
    }
</script>

<script type="text/javascript">
    function removeAccount(id){
        Swal.fire({
        title: '¿ESTA SEGURO?',
        text: 'Se eliminara toda su informacion relacionada, incluyendo tus posts',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes!'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location = '/delete-account/'+id 
        }
        })
    }
</script>

<script type="text/javascript">
    function changeStatus(id){
        Swal.fire({
        title: '¿CAMBIAR DE ESTADO?',
        text: 'Los cambios se reflejaran una vez haya iniciado sesion nuevamente',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes!'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location = '/change-status/'+id 
        }
        })
    }
</script>